.cart-button {
    border-radius: 30px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #4d1601;
    color: white;
    font-weight: 700;
    justify-content: center;
}
.items {
    margin-left: 8px;
    padding: 6px;
    background-color: #b94517 ;
    border-radius: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.icon {
    margin-right: 10px;
    position: relative;
    bottom: 2px;
}
.col {
    animation: bump 0.3s linear;
}
@keyframes bump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
}
  
 